ion-toolbar {
    // --opacity: 0;
    --background: transparent;
    --ion-color-base: transparent !important;
    position: absolute;
  }

.portada {
  width: 100%;
  height: 25%;
  img {
      height: 100%;
      width: 100%;
      display: block;
      object-fit: cover;
  }
}

.perfil {
    text-align: center;
    position: absolute;
    top: 12%;
    height: 120px;
    width: 100%;
    z-index: 99;
    img {
        height: 100%;
        width: 120px;
        border-radius: 50%;
        object-fit: cover;
        border: solid 5px var(--ion-color-light);
    }
}

.dataUsuario {
    padding-top: 70px;
    // padding-left: 10%;
    // padding-right: 10%;
    position: absolute;
    text-align: center;
    top: 20%;
    width: 100%;
    background-color: var(--ion-color-light);
    height: auto;
    border-radius: 40px;
    .descripcionPerfil {
        font-size: 14px;
        text-align: justify;
    }
    .datosPersonales {
        padding-left: 10%;
        padding-right: 10%;
    }

}

.comentarios {
    width: 100%;
    height: auto;
    border-top-right-radius: 30px;
    border-top-left-radius: 30px;
    padding: 20px;
}

ion-textarea {
    background-color: var(--ion-color-light);
    border-radius: 20px;
    resize: none;  /* Evita la redimensión manual */
    overflow: hidden;  /* Oculta la barra de desplazamiento vertical */
    max-height: 100px; /* Establece una altura máxima, ajusta según tus necesidades */
    overflow-y: auto; 
}

.listaComentarios {
    border-radius: 20px;
    background-color: transparent;
    .comentario {
        padding-top: 10px;
        --border-radius: 20px;
        ion-row {
            padding-top: 10px;
            padding-bottom: 10px;
        }
        ion-col{
            padding: 0px;
            .nombre {
                font-weight: bold;
            }
        }
    }
}