<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-back-button defaultHref="/"></ion-back-button>
    </ion-buttons>
    <ion-title>Resultados de Busqueda</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content class="ion-margin">
  <ion-searchbar mode="ios" [value]="target" placeholder="Buscar" inputmode="text" type="text" (ionChange)="buscarGeneral($event)" [debounce]="250"></ion-searchbar>

  <div class="lista"  *ngFor="let usuario of listaUsuarios" >
    <ion-card mode="ios" (onClick)="startChat($event)">
      <ion-item lines="none">
        <ion-icon slot="start" name="person-outline" color="primary"></ion-icon>
        <ion-label>{{usuario.nombres | titlecase}}</ion-label>
      </ion-item>
      <ion-item lines="none">
        <ion-icon slot="start" name="location-outline" color="primary"></ion-icon>
        <ion-label>{{usuario.direccion | titlecase}}</ion-label>
      </ion-item>
      <ion-item lines="none">
        <ion-icon slot="start" name="grid-outline" color="primary"></ion-icon>
        <ion-label>{{usuario.descripcion | titlecase}}</ion-label>
      </ion-item>
    </ion-card>
  </div>

</ion-content>
