<ion-header class="ion-no-border">
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-back-button color="light" defaultHref="/"></ion-back-button>
    </ion-buttons>
    <ion-title>Resultados de Busqueda...</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content class="ion-margin">
  <ion-searchbar class="buscadorStyle" [value]="target" placeholder="Buscar" inputmode="text" type="text" (ionChange)="buscarGeneral($event)" [debounce]="250"></ion-searchbar>

  <ion-item class="degradadoVerde" color="translucent" lines="none">
    <ion-label>RECOMENDADOS</ion-label>
  </ion-item>
  <div class="skeleton" *ngIf="!listaUsuarios.length && !sinDatos">
    <ion-skeleton-text *ngFor="let item of [1,1,1,1,1,1]" animated style="width: 94%; height: 90px; margin: 3%; border-radius: 20px;"></ion-skeleton-text>
  </div>
  <div class="sinDatos" *ngIf="sinDatos">
    <ion-icon name="cloud-offline-outline"></ion-icon><br>
    <ion-label>No se encontraron resultados</ion-label>
  </div>
  <div class="lista"  *ngFor="let usuario of listaUsuarios">
    <ion-card class="cardUsuarios">
      <ion-grid fixed>
        <ion-row class="ion-align-items-center">
          <ion-col size="3"  (click)="irPerfil(usuario)">
            <ion-avatar class="ion-align-items-center">
              <img alt="foto de perfil" src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcTOfiQ5jt6UNVmHw7YJy7F6I25FV6LgBX9RS6w3wF7PUhORio-woVIGPyIZUcbNWENrBjI&usqp=CAU" />
            </ion-avatar>
          </ion-col>
          <ion-col size="7" (click)="irPerfil(usuario)">
            <ion-row class="ion-no-padding">
              <ion-col class="ion-no-padding profesion" size="12">{{usuario.profesion | uppercase}}</ion-col>
            </ion-row>
            <ion-row>
              <ion-col class="ion-no-padding" size="12">{{usuario.nombres | titlecase}} {{usuario.apellidos | titlecase}}</ion-col>
            </ion-row>
            <ion-row class="ion-no-padding">
              <ion-col class="ion-no-padding" size="12"><ion-icon name="location" color="primary"></ion-icon>{{usuario.direccion.direccion | titlecase}}</ion-col>
            </ion-row>
            <ion-row class="ion-no-padding">
              <ion-col size="6" class="ion-align-items-center">
                <ion-icon class="estrellas" *ngFor="let item of [1,1,1,1,1]" name="star" color="warning"></ion-icon>
              </ion-col>
              <ion-col class="ion-no-padding" size="6">
                <ion-button size="small" expand="block" shape="round" color="warning" mode="ios">
                  <ion-icon name="eye"></ion-icon> &nbsp; Ver Perfil
                </ion-button>
              </ion-col>
            </ion-row>
          </ion-col>
          <ion-col size="2">
            <ion-buttons>
              <ion-button  color="success" (click)="llamar(usuario.celular)">
                <ion-icon slot="icon-only" name="call"></ion-icon>
              </ion-button>
            </ion-buttons>
          </ion-col>
        </ion-row>
      </ion-grid>
    </ion-card>
  </div>

</ion-content>
