<!-- <ion-header>
  <ion-toolbar>
    <ion-title>inicio</ion-title>
  </ion-toolbar>
</ion-header> -->

<ion-content class="ion-padding degradadoAzul">

  <div class="logo">
    <img src="../../../assets/img/logo.png" alt="">
  </div>

  <div class="contenido">
    <h4>¿Que desea realizar?</h4>
    <ion-button class="boton" color="light" id="open-modal" shape="round">
      <ion-label>Adquirir servicio</ion-label>
    </ion-button> <br>
    <ion-button class="boton botonVerde" (click)="irLogin()" shape="round">
      <ion-label>Brindar servicio</ion-label>
    </ion-button>
  </div>

  <!-- <div class="redes">
    <ion-item-divider>
      <ion-label>Redes Sociales</ion-label>
    </ion-item-divider>
    <ion-item lines="none">
      <ion-buttons> 
        <ion-button color="secondary">
          <ion-icon slot="icon-only" name="logo-facebook"></ion-icon>
        </ion-button>
        <ion-button color="danger">
          <ion-icon slot="icon-only" name="logo-instagram"></ion-icon>
        </ion-button>
        <ion-button color="medium">
          <ion-icon slot="icon-only" name="logo-tiktok"></ion-icon>
        </ion-button>
        <ion-button color="danger">
          <ion-icon slot="icon-only" name="logo-youtube"></ion-icon>
        </ion-button>
      </ion-buttons>
    </ion-item>
  </div> -->

</ion-content>


<ion-modal #modal trigger="open-modal">
  <ng-template>
    <ion-content>
      <div class="contenedorModal">
        <div class="logoModal">
          <img src="../../../assets/img/logoAzul.png" alt="">
        </div>
        <h2>Terminos y condiciones</h2>
        <hr>
        <p>Al usar nuestra aplicación de servicios, aceptas cumplir con estos términos y condiciones. <br> <br> La aplicación ofrece información sobre personas que brindan servicios. Es tu responsabilidad proporcionar información precisa al registrarte y usar la aplicación. Los derechos de propiedad intelectual pertenecen a Qansa.  <br> <br> No garantizamos la disponibilidad ininterrumpida de la aplicación y nos reservamos el derecho de modificar estos términos en cualquier momento. 
        </p>
        <hr>
        <br>
        <ion-button class="botonMediano botonVerde" (click)="irHome()" shape="round">
          <ion-label>Aceptar</ion-label>
          <ion-icon name="chevron-forward-outline"></ion-icon>
        </ion-button> <br>
        <ion-button class="botonMediano" (click)="modal.dismiss()" color="warning" shape="round">
          <ion-icon name="close-circle"></ion-icon> &nbsp;
          <ion-label>Cerrar</ion-label>
        </ion-button>
      </div>
    </ion-content>
  </ng-template>
</ion-modal>