
<ion-header class="ion-no-border">
  <ion-toolbar color="light">
    <div class="logo">
      <img src="../../assets/img/logo.png" alt="">
      <ion-grid>
        <ion-row class="ion-justify-content-center ion-align-items-center">
          <ion-col size="6">
            <ion-button mode="ios" [ngClass]="{botonVerde: seleccionado=='favoritos', botonGris: seleccionado !='favoritos'}" (click)="ChangeList('favoritos')" expand="block" shape="round">
              <ion-icon color="dark" name="star"></ion-icon> &nbsp; &nbsp;
              <ion-label color="dark">Favoritos</ion-label>
            </ion-button>
          </ion-col>
          <ion-col size="6">
            <ion-button mode="ios" [ngClass]="{botonVerde: seleccionado=='historial', botonGris: seleccionado !='historial'}" (click)="ChangeList('historial')" expand="block" shape="round">
              <ion-icon color="dark" name="receipt"></ion-icon> &nbsp; &nbsp;
              <ion-label color="dark">Historial</ion-label>
            </ion-button>
          </ion-col>
        </ion-row>
      </ion-grid>
    </div>
  </ion-toolbar>
</ion-header>
<ion-content [fullscreen]="true" color="light">
<div class="lista"  *ngFor="let usuario of listaUsuarios">
  <ion-card class="cardUsuarios">
    <ion-grid fixed>
      <ion-row class="ion-align-items-center">
        <ion-col size="3">
          <ion-avatar class="ion-align-items-center">
            <img alt="foto de perfil" src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcTOfiQ5jt6UNVmHw7YJy7F6I25FV6LgBX9RS6w3wF7PUhORio-woVIGPyIZUcbNWENrBjI&usqp=CAU" />
          </ion-avatar>
        </ion-col>
        <ion-col size="7">
          <ion-row class="ion-no-padding">
            <ion-col class="ion-no-padding profesion" size="12">{{usuario.descripcion | titlecase}}</ion-col>
          </ion-row>
          <ion-row>
            <ion-col class="ion-no-padding" size="12">{{usuario.nombres | titlecase}} {{usuario.apellidos | titlecase}}</ion-col>
          </ion-row>
          <ion-row class="ion-no-padding">
            <ion-col class="ion-no-padding" size="12"><ion-icon name="location" color="primary"></ion-icon>{{usuario.direccion | titlecase}}</ion-col>
          </ion-row>
          <ion-row class="ion-no-padding">
            <ion-col class="ion-no-padding" size="12">
              <ion-button (click)="irPerfil(usuario)" size="small" expand="block" shape="round" color="warning" mode="ios">
                <ion-icon name="eye"></ion-icon> &nbsp; Ver Perfil
              </ion-button>
            </ion-col>
          </ion-row>
        </ion-col>
        <ion-col size="2">
          <ion-buttons>
            <ion-button  color="danger">
              <ion-icon slot="icon-only" name="trash"></ion-icon>
            </ion-button>
          </ion-buttons>
        </ion-col>
      </ion-row>
    </ion-grid>
  </ion-card>
</div>
</ion-content>
