h2 {
    text-align: center;
}
* {
    ion-label, ion-title {
        font-family: Gil;
    }
}

ion-grid{
    height: 100%;
}
ion-row{
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100%;
}

.estrellas {
    font-size: 16px;
}

.botonLlamar {
    --border-radius: 50%;
}