<!-- <ion-header class="title-header"> -->
<ion-header class="ion-no-border" color="light">
  <ion-toolbar color="light">
    <div class="logo">
      <img src="../../assets/img/logo.png" alt="">
      <ion-grid>
        <ion-row>
          <ion-col class="texto" size="10">
            <ion-label color="light">Chats recientes</ion-label>
          </ion-col>
          <ion-col class="icono" size="2">
            <ion-buttons>
              <ion-button>
                <ion-icon color="light" slot="icon-only" name="menu"></ion-icon>
              </ion-button>
            </ion-buttons>
          </ion-col>
        </ion-row>
      </ion-grid>
    </div>
  </ion-toolbar>
  <!-- <ion-segment [value]="segment" mode="md" (ionChange)="onSegmentChanged($event)">
    
    <ion-segment-button value="chats">
      <ion-label>CHAT</ion-label>
    </ion-segment-button>
  </ion-segment> -->
</ion-header>

<ion-content>
  
  <app-empty-screen 
    *ngIf="(chatRooms | async)?.length == 0" 
    [model]="model">
  </app-empty-screen>

  <ng-container *ngIf="segment == 'chats' && (chatRooms | async) as rooms" color="translucent">

    <ion-list *ngIf="rooms?.length > 0" color="translucent">
  
      
  
      <ion-item lines="none" color="translucent" class="cardUser"
        *ngFor="let item of rooms" 
        (click)="getChat(item)"
        [detail]="true">
        <ion-avatar *ngIf="(item?.user | async) as user">
          <img *ngIf="getUser(user) && !getUser(user)?.urlPerfil" src="../../assets/img/USUARIO.svg" />
          <img *ngIf="getUser(user) && getUser(user)?.urlPerfil" alt="foto de perfil" [src]="getUser(user)?.urlPerfil" />
        </ion-avatar> &nbsp; &nbsp;
        <ng-container *ngIf="(item?.user | async) as user">
          <!--<ion-avatar slot="start">
            <img [src]="getUser(user)?.photo" />
          </ion-avatar>-->
          <ion-label class="nombre">
            {{getUser(user)?.nombres | titlecase}} {{getUser(user)?.apellidos | titlecase}}
            <!-- <p>
              <ion-text>
                message
              </ion-text>
            </p> -->
          </ion-label>
          <!-- <ion-text slot="end" color="medium">10:00 AM</ion-text> -->
        </ng-container>
      </ion-item>
  
    </ion-list>

  </ng-container>


  <!--<ion-fab slot="fixed" horizontal="end" vertical="bottom">
    <ion-fab-button (click)="newChat()">
      <ion-icon name="car"></ion-icon>
    </ion-fab-button>
  </ion-fab>-->

  <ion-modal #new_chat [isOpen]="open_new_chat" (willDismiss)="onWillDismiss($event)">
    <ng-template>
      <ion-header>
        <ion-toolbar color="primary">
          <ion-title>lista de usuarios</ion-title>
          <ion-buttons slot="end">
            <ion-button (click)="cancel()">Cancel</ion-button>
          </ion-buttons>
        </ion-toolbar>
      </ion-header>
      <ion-content color="light" *ngIf="(users | async) as user$">
        <ion-list class="ion-margin-top" [style.background]="'transparent'" lines="none">
          <app-user-list 
          *ngFor="let item of user$" 
          [item]="item"
          (onClick)="startChat($event)">
        </app-user-list>
        </ion-list>
      </ion-content>
    </ng-template>
  </ion-modal>

</ion-content>
