<ion-content>
  <div class="portada" (click)="SubirFotoPortada()">
    <img id="fotoPortada" *ngIf="!imagePortada"  src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcSfMcsZz4KYIpdpvmMx5CXNRjFfdCyq0q5lBrUyV0SL57L3vEB7zuNC7mrwFwYNgRnG-Z8&usqp=CAU" alt="">
    <img id="fotoPortada"  *ngIf="imagePortada" [src]='imagePortada' alt="">
  </div>
  <div class="perfil" (click)="SubirFotoPerfil()">
    <img id="fotoPerfil" *ngIf="!image"  src="https://us.123rf.com/450wm/alekseyvanin/alekseyvanin1704/alekseyvanin170401391/75474041-agregar-vector-de-icono-de-usuario-ilustraci%C3%B3n-de-logotipo-s%C3%B3lido-pictograma-aislado-en-blanco.jpg?ver=6" alt="">
    <img  id="fotoPerfil" *ngIf="image"  [src]="image" alt="">
  </div>
  <div class="dataUsuario">
  <form [formGroup]="usuarioForm">
    <ion-item>
      <ion-input formControlName="nombres" type="text" placeholder="Nombres"></ion-input>
    </ion-item>
    <ion-item>
      <ion-input formControlName="apellidos" type="text" placeholder="Apellidos"></ion-input>
    </ion-item>
    <ion-item>
      <ion-input *ngIf="userUbicacion && userUbicacion.direccion" readonly>{{userUbicacion.direccion.split(',', 1)}}</ion-input>
      <ion-buttons slot="end">
        <ion-button (click)="modalUbicacion()">
          <ion-icon slot="icon-only" name="create-outline" color="primary"></ion-icon>
        </ion-button>
      </ion-buttons>
    </ion-item>
    <ion-item>
      Fecha Nacimiento
      <ion-datetime-button datetime="datetime"  ></ion-datetime-button>
      <ion-modal [keepContentsMounted]="true">
        <ng-template>
          <ion-datetime id="datetime" locale="es-ES" [showDefaultButtons]="true" cancelText="Cancelar" doneText="Aceptar" splayFormat="DD MMM YYYY"></ion-datetime>
        </ng-template>
      </ion-modal>
    </ion-item>
    <div class="listaServiciosSeleccionados" id="modalServicios">
      <ion-label position="floating" color="primary">Servicios que brinda</ion-label>
      <div class="servicios" *ngIf="listaAgregados.length">
        <ion-label *ngFor="let item of listaAgregados">
          <ion-chip color="primary" mode="ios" outline="true">
            <ion-label>{{item.nombre | titlecase}}</ion-label>
          </ion-chip>
        </ion-label>
      </div>
    </div>
    <ion-item>
      <ion-input formControlName="disponibilidad" type="text" placeholder="Disponibilidad"></ion-input>
    </ion-item>
    <ion-item>
      <ion-textarea formControlName="descripcion" type="text" placeholder="Cuentanos un poco sobre ti"></ion-textarea>
    </ion-item> <br>
    <ion-button (click)="guardarDataUsuario()" expand="block" shape="round" class="botonVerde">
      <ion-icon color="dark" name="save"></ion-icon> &nbsp; &nbsp;  
      <ion-label color="dark">Guardar datos</ion-label>
    </ion-button>
    <ion-button color="danger" (click)="subirFotoStorage('perfil')" expand="block" shape="round">
            <ion-label>Subir Foto</ion-label>
          </ion-button>
  </form>
  </div>

  <ion-modal #modalServicios trigger="modalServicios">
    <ng-template>
      <ion-header class="ion-no-border">
        <ion-toolbar color="light">
          <ion-buttons slot="start">
            <ion-button color="primary" (click)="cerrarModal()">
              <ion-icon slot="icon-only" name="arrow-back-outline"></ion-icon>
            </ion-button>
          </ion-buttons>
          <ion-title color="primary">Servicios</ion-title>
        </ion-toolbar>
      </ion-header>
      <ion-content class="ion-padding">

        <ion-searchbar #mySearchbar mode="ios" placeholder="Buscar servicios" type="text" (ionFocus)="eliminarDataBusqueda($event)" (ionChange)="buscarSubcategoria($event)" [debounce]="250"></ion-searchbar>
        <div class="cargando" *ngIf="cargando">
          <ion-spinner color="primary" name="circular"></ion-spinner>
        </div>
        <div class="cargando" *ngIf="sinDatos">
          <ion-label>No se encontraron resultados</ion-label>
        </div>
        <ion-list *ngFor="let item of listaBusqueda">
          <ion-item>
            <ion-avatar slot="start">
              <img [src]="item.img" />
            </ion-avatar>
            <ion-label>{{item.nombre | titlecase}}</ion-label>
            <ion-button [disabled]="item.agregado" slot="end" color="primary" (click)="addArrayServicios(item)" shape="round">
              <ion-icon name="add"></ion-icon> Añadir
            </ion-button>
          </ion-item>
        </ion-list>
      </ion-content>
      <div class="listaServicios">
        <ion-item-divider color="light">
          <ion-label color="primary">Servicios agregados</ion-label>
        </ion-item-divider>
        <ion-label *ngFor="let item of listaAgregados">
          <ion-chip color="primary" mode="ios" outline="true">
            <ion-label>{{item.nombre | titlecase}}</ion-label>
            <ion-icon (click)="eliminarDeListaAgregados(item)" name="close"></ion-icon>
          </ion-chip>
        </ion-label>
      </div>
      <ion-footer>
        <ion-toolbar>
          <ion-button color="success" (click)="cerrarModal()" expand="block" shape="round">
            <ion-label>Aceptar</ion-label>
          </ion-button>
        </ion-toolbar>
      </ion-footer>
    </ng-template>
  </ion-modal>
</ion-content>

<!-- <ion-header class="ion-no-border">
  <ion-toolbar class="toolbar" color="light">
    <ion-grid>
      <ion-row class="ion-justify-content-center ion-align-items-center">
        <ion-col size="4">
          <img src="../../../assets/img/logo kansa.png" alt="">
        </ion-col>
        <ion-col size="8" class="texto">
          <ion-label>Brinda servicios y deja que le mundo te conozca</ion-label>
        </ion-col>
      </ion-row>
    </ion-grid>
  </ion-toolbar>
</ion-header>

<ion-content class="ion-padding">
  <form [formGroup]="usuarioForm">
    <h2>Registro</h2><br>
    <ion-item lines="none">
      <ion-label position="floating">Nombres</ion-label>
      <ion-input formControlName="nombres" type="text" placeholder="Ingrese su nombre"></ion-input>
    </ion-item> <br>
    <ion-item lines="none">
      <ion-label position="floating">Apellidos</ion-label>
      <ion-input formControlName="apellidos" type="text" placeholder="Ingrese sus apellidos"></ion-input>
    </ion-item> <br>
    <ion-item lines="none">
      <ion-label position="floating">Direccion</ion-label>
      <ion-input formControlName="direccion" type="text" placeholder="Ingrese su direccion"></ion-input>
    </ion-item> <br>
    <ion-item lines="none">
      <ion-label position="floating">Fecha de nacimiento</ion-label>
      <ion-input formControlName="fechaNacimiento" type="date" placeholder="Ingrese su fecha de nacimiento"></ion-input>
    </ion-item> <br>
    <div class="listaServiciosSeleccionados" id="modalServicios">
      <ion-label position="floating" color="primary">Servicios que brinda</ion-label>
      <div class="servicios" *ngIf="listaAgregados.length">
        <ion-label *ngFor="let item of listaAgregados">
          <ion-chip color="primary" mode="ios" outline="true">
            <ion-label>{{item.nombre | titlecase}}</ion-label>
          </ion-chip>
        </ion-label>
      </div>
    </div> <br>
    <ion-item lines="none">
      <ion-label position="floating">Hablanos de ti</ion-label>
      <ion-textarea formControlName="descripcion" type="text" placeholder="Cuentanos sobre ti..."></ion-textarea>
    </ion-item>
  </form>

  <ion-modal trigger="modalServicios">
    <ng-template>
      <ion-header class="ion-no-border">
        <ion-toolbar color="light">
          <ion-buttons slot="start">
            <ion-button color="primary" (click)="cerrarModal()">
              <ion-icon slot="icon-only" name="arrow-back-outline"></ion-icon>
            </ion-button>
          </ion-buttons>
          <ion-title color="primary">Servicios</ion-title>
        </ion-toolbar>
      </ion-header>
      <ion-content class="ion-padding">

        <ion-searchbar #mySearchbar mode="ios" placeholder="Buscar servicios" type="text" (ionFocus)="eliminarDataBusqueda($event)" (ionChange)="buscarSubcategoria($event)" [debounce]="250"></ion-searchbar>
        <div class="cargando" *ngIf="cargando">
          <ion-spinner color="primary" name="circular"></ion-spinner>
        </div>
        <div class="cargando" *ngIf="sinDatos">
          <ion-label>No se encontraron resultados</ion-label>
        </div>
        <ion-list *ngFor="let item of listaBusqueda">
          <ion-item>
            <ion-avatar slot="start">
              <img [src]="item.img" />
            </ion-avatar>
            <ion-label>{{item.nombre | titlecase}}</ion-label>
            <ion-button [disabled]="item.agregado" slot="end" color="primary" (click)="addArrayServicios(item)" shape="round">
              <ion-icon name="add"></ion-icon> Añadir
            </ion-button>
          </ion-item>
        </ion-list>
      </ion-content>
      <div class="listaServicios">
        <ion-item-divider color="light">
          <ion-label color="primary">Servicios agregados</ion-label>
        </ion-item-divider>
        <ion-label *ngFor="let item of listaAgregados">
          <ion-chip color="primary" mode="ios" outline="true">
            <ion-label>{{item.nombre | titlecase}}</ion-label>
            <ion-icon (click)="eliminarDeListaAgregados(item)" name="close"></ion-icon>
          </ion-chip>
        </ion-label>
      </div>
      <ion-footer>
        <ion-toolbar>
          <ion-button color="success" (click)="cerrarModal()" expand="block" shape="round">
            <ion-label>Aceptar</ion-label>
          </ion-button>
        </ion-toolbar>
      </ion-footer>
    </ng-template>
  </ion-modal>
</ion-content>

<ion-footer class="ion-no-border">
  <ion-toolbar>
    <ion-button color="primary" (click)="guardarDataUsuario()" expand="block" shape="round">
      <ion-label>REGISTRARSE</ion-label>
    </ion-button>
  </ion-toolbar>
</ion-footer> -->
