.toolbar {
    height: 120px;
    border-bottom-right-radius: 10%;
    img {
        height: 120px;
    }

    ion-grid {
        .texto {
            text-align: center;
        }
    }
}

h2 {
    text-align: center;
    font-weight: bold;
}

form {
    ion-item {
        ion-label {
            color: var(--ion-color-primary);
        }
    }
    ion-item {
        border: solid 1px var(--ion-color-primary);
        border-radius: 10px;
    }
}

.listaServicios {
    background-color: var(--ion-color-light);
    max-height: 40%;
    overflow-y: auto;
}